.vscode/
tests/
packages/
src/
test/

.browserslistrc                  
.env.dev                         
.env.prod
.env.prod-umd
public/index.html                
public/favicon.ico               
.eslintrc.js                     
.prettierrc.js                   
babel.config.js          
jest.config.js                   
vue.config.js   
jsconfig.json                 
